In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkConf, SparkContext
import os
import configparser

In [2]:
config = configparser.ConfigParser()

#Normally this file should be in ~/.aws/credentials
config.read('dl.cfg')

#print(config['AWS']['AWS_ACCESS_KEY_ID'])

os.environ["AWS_ACCESS_KEY_ID"]= config['AWS']['AWS_ACCESS_KEY_ID']
os.environ["AWS_SECRET_ACCESS_KEY"]= config['AWS']['AWS_SECRET_ACCESS_KEY']

In [3]:
spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:3.2.0") \
        .getOrCreate()

In [7]:
df = spark.read.json("s3a://udacity-dend/song_data/A/A/A")

In [8]:
df.printSchema()
df.show(5)

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|         artist_id|artist_latitude|     artist_location|artist_longitude|         artist_name| duration|num_songs|           song_id|               title|year|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|ARTC1LV1187B9A4858|        51.4536|Goldsmith's Colle...|        -0.01802|  The Bonzo Dog Band|301.40036|        1|SOAFBCP12A8C13CC7D|King Of Scurf (20...|1972|
|ARA23XO1187B9AF18F|       40.57885|Carteret, New Jersey|       -74.21956|     The Smithereens|  192.522|        1|SOKTJDS12AF72A25E5|Drown In My Own T...|   0|
|ARSVTNL1187B992A91|       51.50632|     London, England|        -0.12714|       Jonathan King|129.85424|        1|SOEKAZG12AB018837E|I'll Slap Your Fa...|2001|
|AR73AIO1187B9AD57B|       37.77916|   San Francisco, CA|      -122.42005|   Western Addiction|118.07302|        1|SOQPWCR12A6D4FB2A3|A Poor Recipe For...|2005|
|ARXQBR11187B98A2CC|           null|  Liverpool, England|            null|Frankie Goes To H...|821.05424|        1|SOBRKGM12A8C139EF6|Welcome to the Pl...|1985|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
only showing top 5 rows

In [33]:
from pyspark.sql.types import *

schema = StructType([
    StructField("artist_id",StringType()),
    StructField("artist_latitude",DoubleType()),
    StructField("artist_location",StringType()),
    StructField("artist_longitude",DoubleType()),
    StructField("artist_name",StringType()),
    StructField("duration",DoubleType()),
    StructField("num_songs",LongType()),
    StructField("song_id",StringType()),
    StructField("title",StringType()),
    StructField("year",LongType())
    ])

df = spark.read.json("s3a://udacity-dend/song_data/A/A/*/*.json", schema=schema)

In [34]:
df.count()

604

In [37]:
df.createOrReplaceTempView("song_data")
df_songs = spark.sql("""select song_id, title, artist_id, year, duration from song_data""")
df_artists = spark.sql(""" select 
    artist_id, 
    artist_name as name, 
    artist_location as location, 
    artist_latitude as latitude , 
    artist_longitude as longitude 
    from
    song_data """)

+------------------+---------------+--------------------+----------------+--------------------+----------+---------+------------------+--------------------+----+
|         artist_id|artist_latitude|     artist_location|artist_longitude|         artist_name|  duration|num_songs|           song_id|               title|year|
+------------------+---------------+--------------------+----------------+--------------------+----------+---------+------------------+--------------------+----+
|ARSUVLW12454A4C8B8|       35.83073|           Tennessee|       -85.97874|Royal Philharmoni...|  94.56281|        1|SOBTCUI12A8AE48B70|Faust: Ballet Mus...|   0|
|ARXQC081187FB4AD42|       54.31407|                  UK|        -2.23001|William Shatner_ ...|1047.71873|        1|SOXRPUH12AB017F769|Exodus: Part I: M...|   0|
|ARWUNH81187FB4A3E0|           null|     Miami , Florida|            null|         Trick Daddy| 227.10812|        1|SOVNKJI12A8C13CB0D|Take It To Da Hou...|2001|
|ARTC1LV1187B9A4858|        51.4536|Goldsmith's Colle...|        -0.01802|  The Bonzo Dog Band| 301.40036|        1|SOAFBCP12A8C13CC7D|King Of Scurf (20...|1972|
|ARA23XO1187B9AF18F|       40.57885|Carteret, New Jersey|       -74.21956|     The Smithereens|   192.522|        1|SOKTJDS12AF72A25E5|Drown In My Own T...|   0|
+------------------+---------------+--------------------+----------------+--------------------+----------+---------+------------------+--------------------+----+
only showing top 5 rows

In [113]:

#columns = Seq("song_id","title","artist_id","year","duration")
#df_songs = df_songs.toDF(columns:_*)


df_songs.write \
    .mode("append") \
    .partitionBy("year", "artist_id") \
    .parquet("s3a://data-engineering-files/parquet/songs.parquet")
df_artists.write \
     .mode("append") \
    .parquet("s3a://data-engineering-files/parquet/artists.parquet")

In [48]:
log_schema = StructType([
    StructField("artist",StringType()),
    StructField("auth",StringType()),
    StructField("firstName",StringType()),
    StructField("gender",StringType()),
    StructField("itemInSession",LongType()),
    StructField("lastName",StringType()),
    StructField("length",DoubleType()),
    StructField("level",StringType()),
    StructField("location",StringType()),
    StructField("method",StringType()),
    StructField("page",StringType()),
    StructField("registration",StringType()),
    StructField("sessionId",StringType()),
    StructField("song",StringType()),
    StructField("status",IntegerType()),
    StructField("ts",LongType()),
    StructField("userAgent",StringType()),
    StructField("userId",StringType())
    ])


log_data_df = spark.read.json("s3a://udacity-dend/log_data/*/*/*.json", schema=log_schema, multiLine="true")

In [49]:
log_data_df.count()

30

In [51]:
log_data_df.show()
log_data_df.createOrReplaceTempView("log_data")

+--------------------+----------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
|              artist|      auth|firstName|gender|itemInSession| lastName|   length|level|            location|method|    page|     registration|sessionId|                song|status|           ts|           userAgent|userId|
+--------------------+----------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
|            Harmonia| Logged In|     Ryan|     M|            0|    Smith|655.77751| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|       Sehr kosmisch|   200|1542241826796|"Mozilla/5.0 (X11...|    26|
|                null|Logged Out|     null|  null|            0|     null|     null| free|                null|   PUT|   Login|             null|      741|                null|   307|1542760054796|                null|      |
|     The Grass Roots| Logged In|     Sara|     F|           72|  Johnson|166.71302| paid|   Winston-Salem, NC|   PUT|NextSong|1.540809153796E12|      411|Let's Live For Today|   200|1542153802796|"Mozilla/5.0 (iPh...|    95|
|Mitch Ryder & The...| Logged In|    Tegan|     F|           65|   Levine|205.03465| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      992|Jenny Take A Ride...|   200|1543363215796|"Mozilla/5.0 (Mac...|    80|
|       A Fine Frenzy| Logged In| Anabelle|     F|            0|  Simpson|267.91138| free|Philadelphia-Camd...|   PUT|NextSong|1.541044398796E12|      256|Almost Lover (Alb...|   200|1541377992796|"Mozilla/5.0 (Mac...|    69|
|                null| Logged In|    Kevin|     M|            0| Arellano|     null| free|Harrisburg-Carlis...|   GET|    Home|1.540006905796E12|      514|                null|   200|1542069417796|"Mozilla/5.0 (Mac...|    66|
|       Stephen Lynch| Logged In|   Jayden|     M|            0|     Bell|182.85669| free|Dallas-Fort Worth...|   PUT|NextSong|1.540991795796E12|      829|   Jim Henson's Dead|   200|1543537327796|Mozilla/5.0 (comp...|    91|
|            Mudhoney| Logged In|   Aleena|     F|           10|    Kirby|231.57506| paid|Waterloo-Cedar Fa...|   PUT|NextSong|1.541022995796E12|      637|      Get Into Yours|   200|1542326457796|Mozilla/5.0 (Maci...|    44|
|         The Killers| Logged In|   Jayden|     M|           32|   Graves|246.80444| paid|    Marinette, WI-MI|   PUT|NextSong|1.540664184796E12|      594|        Read My Mind|   200|1542672042796|"Mozilla/5.0 (Win...|    25|
|The Future Sound ...| Logged In|     Ryan|     M|            0|    Smith|405.28934| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      873|    Papua New Guinea|   200|1543020300796|"Mozilla/5.0 (X11...|    26|
|   Sydney Youngblood| Logged In|    Jacob|     M|           53|    Klein|238.07955| paid|Tampa-St. Petersb...|   PUT|NextSong|1.540558108796E12|      954|   Ain't No Sunshine|   200|1543449657796|"Mozilla/5.0 (Mac...|    73|
|                null| Logged In|     Lily|     F|            0|    Burns|     null| free|New York-Newark-J...|   GET|    Home|1.540621059796E12|      689|                null|   200|1542592468796|"Mozilla/5.0 (Win...|    32|
|Barry Tuckwell/Ac...| Logged In| Mohammad|     M|            0|Rodriguez|277.15873| paid|Sacramento--Rosev...|   PUT|NextSong|1.540511766796E12|      961|Horn Concerto No....|   200|1543279932796|"Mozilla/5.0 (Mac...|    88|
| Great Lake Swimmers| Logged In|    Kevin|     M|            0| Arellano|215.11791| free|Harrisburg-Carlis...|   PUT|NextSong|1.540006905796E12|      815|    Your Rocky Spine|   200|1542931645796|"Mozilla/5.0 (Mac...|    66|
|                Muse| Logged In|   Harper|     M|            1|  Barrett|209.50159| paid|New York-Newark-J...|   PUT|NextSong|1.540685364796E12|      275|Supermassive Blac...|   200|1541721977796|"Mozilla/5.0 (Win...|    42|
|                Muse| Logged In|   Jordan|     F|            3|    Hicks|259.26485| free|         Salinas, CA|   PUT|NextSong|1.540008898796E12|      814|Supermassive Blac...|   200|1543190563796|"Mozilla/5.0 (Mac...|    37|
|                null| Logged In| Dominick|     M|            0|   Norris|     null| free|Los Angeles-Long ...|   GET|    Home|1.540975502796E12|       44|                null|   200|1541635950796|"Mozilla/5.0 (iPh...|    45|
|                null| Logged In|  Celeste|     F|            0| Williams|     null| free|   Klamath Falls, OR|   GET|    Home|1.541077528796E12|      438|                null|   200|1541990217796|"Mozilla/5.0 (Win...|    53|
|        Miami Horror| Logged In|     Kate|     F|           88|  Harrell| 250.8273| paid|Lansing-East Lans...|   PUT|NextSong|1.540472624796E12|      293|           Sometimes|   200|1541548876796|"Mozilla/5.0 (X11...|    97|
|                null| Logged In| Theodore|     M|            0|    Smith|     null| free|Houston-The Woodl...|   GET|    Home|1.540306145796E12|      154|                null|   200|1541290555796|Mozilla/5.0 (Wind...|    52|
+--------------------+----------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
only showing top 20 rows

In [54]:
user_df = spark.sql("""select 
    CAST(userId as INT) as user_id, 
    firstName as first_name, 
    lastName as last_name, 
    gender,
    level 
    from
    log_data
    where page ='NextSong'""")
user_df.show(5)

+-------+----------+---------+------+-----+
|user_id|first_name|last_name|gender|level|
+-------+----------+---------+------+-----+
|     26|      Ryan|    Smith|     M| free|
|     95|      Sara|  Johnson|     F| paid|
|     80|     Tegan|   Levine|     F| paid|
|     69|  Anabelle|  Simpson|     F| free|
|     91|    Jayden|     Bell|     M| free|
+-------+----------+---------+------+-----+
only showing top 5 rows

In [122]:
#Pending Items 1. Append Unique_id 2. give default value for user_id

song_plays_df = spark.sql(""" select
    from_unixtime(ts/1000,'yyyy-MM-dd HH:mm:ss') as start_time,
    CAST(userId as INT) as user_id,
    level,
    s.song_id as song_id,
    s.artist_id as artist_id,
    sessionId as session_id,
    location as location,
    userAgent as user_agent,
    from_unixtime(ts/1000,'MMM') as month,
    from_unixtime(ts/1000,'y') as year
    from log_data l
    left join 
    song_data s
    on l.artist = s.artist_name 
    where page ='NextSong'
    """)
#song_plays_df.show(5)
song_plays_df.count()

21

In [117]:
#Reference https://stackoverflow.com/questions/51200217/how-to-create-sequential-number-column-in-pyspark-dataframe

from pyspark.sql.window import Window
from pyspark.sql.functions import monotonically_increasing_id,row_number

song_plays_df =song_plays_df.withColumn("songplay_id",row_number().over(Window.orderBy(monotonically_increasing_id())))
song_plays_df.show(5)

+-------------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+-----+----+-----------+
|         start_time|user_id|level|           song_id|         artist_id|session_id|            location|          user_agent|month|year|songplay_id|
+-------------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+-----+----+-----------+
|2018-11-14 19:30:26|     26| free|              null|              null|       583|San Jose-Sunnyval...|"Mozilla/5.0 (X11...|  Nov|2018|          1|
|2018-11-13 19:03:22|     95| paid|              null|              null|       411|   Winston-Salem, NC|"Mozilla/5.0 (iPh...|  Nov|2018|          2|
|2018-11-27 19:00:15|     80| paid|              null|              null|       992|Portland-South Po...|"Mozilla/5.0 (Mac...|  Nov|2018|          3|
|2018-11-04 19:33:12|     69| free|SOBBGQK12AB0183F1E|AR4E4121187FB51F4E|       256|Philadelphia-Camd...|"Mozilla/5.0 (Mac...|  Nov|2018|          4|
|2018-11-29 19:22:07|     91| free|              null|              null|       829|Dallas-Fort Worth...|Mozilla/5.0 (comp...|  Nov|2018|          5|
+-------------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+-----+----+-----------+
only showing top 5 rows

In [105]:
time_df = spark.sql("""select 
    ts as ts,
    from_unixtime(ts/1000,'yyyy-MM-dd HH:mm:ss') as start_time,
    from_unixtime(ts/1000,'H') as hour,
    from_unixtime(ts/1000,'dd') as day,
    from_unixtime(ts/1000,'MMM') as month,
    from_unixtime(ts/1000,'y') as year,
    from_unixtime(ts/1000,'E') as weekday
    from
    log_data
    where page ='NextSong'""")

In [106]:
from datetime import datetime as dt

convertToWeekDay = F.udf(lambda z: dt.fromtimestamp(z/1000).isocalendar()[1], IntegerType())

In [110]:
time_df = time_df.withColumn('week', convertToWeekDay(F.col('ts')))
time_df = time_df.drop('ts')
time_df.show(5)

+-------------------+----+---+-----+----+-------+----+
|         start_time|hour|day|month|year|weekday|week|
+-------------------+----+---+-----+----+-------+----+
|2018-11-14 19:30:26|  19| 14|  Nov|2018|    Wed|  46|
|2018-11-13 19:03:22|  19| 13|  Nov|2018|    Tue|  46|
|2018-11-27 19:00:15|  19| 27|  Nov|2018|    Tue|  48|
|2018-11-04 19:33:12|  19| 04|  Nov|2018|    Sun|  44|
|2018-11-29 19:22:07|  19| 29|  Nov|2018|    Thu|  48|
+-------------------+----+---+-----+----+-------+----+
only showing top 5 rows

In [111]:
user_df.write.parquet("s3a://data-engineering-files/parquet/users.parquet")

time_df.write.parquet("s3a://data-engineering-files/parquet/time.parquet")

In [118]:
song_plays_df.write \
.mode("append") \
.partitionBy("year","month") \
.parquet("s3a://data-engineering-files/parquet/songplays.parquet")